# output dir
outputs/
wandb/

# cluster hostfiles
hostfiles/

# Raw files
*.jpg
*.png
*.txt
*.bmp
*.pth
*.zip

# kitti 3d
data/datasets/KITTI3D
demo/inputs-self/
demo/model/

pytorch3d
pytorch3d/*
detectron2
detectron2/*

# compilation and distribution
__pycache__
_ext
*.pyc
*.so
build/
dist/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~
